<%= bootstrap_devise_error_messages! %>
<h1><%= content_for(:title, "PokeRails | Sign Up") %></h1>
<div class="panel panel-default devise-bs">
  <div class="panel-heading">
    <h4><%= t('.sign_up', :default => "Sign up") %></h4>
  </div>
  <div class="panel-body">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { role: "form" }) do |f| %>

        <!-- Custom non-devise forms added here -->

        <!-- username -->
        <div class="form-group">
          <%= f.label :username %>
          <%= f.text_field :username, autofocus: true, class: "form-control" %>
        </div>

        <!-- avatar -->
        <div class="form-group">
          <%= f.label :avatar %> <br/>
          <div class="col-md-6 text-center">
          <%= f.radio_button_tag(:avatar, "trainer_male") %>
          <%= f.label_tag(:avatar_trainer_male, "Male Starter Trainer") %>
          </div>
          <div class="col-md-6 text-center">
          <%= f.radio_button_tag(:avatar_trainer_male, "trainer_female") %>
          <%= f.label_tag(:avatar_trainer_male, "Female Starter Trainer") %>
          </div>
        </div>
          <!-- Starter -->
          <div class="form-group"> <br/>
            <%= f.label :starter %> <br/>
            <div class="col-md-4">
              <%= f.radio_button_tag(:starter, "1") %>
              <%= f.label_tag(:starter_1, "Bulbasaur") %>
            </div>
            <div class="col-md-4">
              <%= f.radio_button_tag(:starter, "4") %>
              <%= f.label_tag(:sarter_7, "Charmander") %>
            </div>
            <div class="col-md-4">
              <%= f.radio_button_tag(:starter, "7") %>
              <%= f.label_tag(:sarter_4, "Squirtle") %>
            </div>

            <div class="col-md-4">
              <%= f.radio_button_tag(:starter, "25") %>
              <%= f.label_tag(:starter_25, "Pikachu") %>
            </div>
            <div class="col-md-4">
              <%= f.radio_button_tag(:starter, "133") %>
              <%= f.label_tag(:sarter_133, "Eevee") %>
            </div>
            <div class="col-md-4">
              <%= f.radio_button_tag(:starter, "447") %>
              <%= f.label_tag(:sarter_447, "Riolu") %>
            </div>
            </div>
        <!-- End Custom Fields -->
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
      <%= f.submit t('.sign_up', :default => "Sign up"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<%= render "devise/shared/links" %>
