<%= bootstrap_devise_error_messages! %>
<h1><%= content_for(:title, "PokeRails | Sign Up") %></h1>
<div class="panel panel-default devise-bs">
  <div class="panel-heading">
    <h4><%= t('.sign_up', :default => "Sign up") %></h4>
  </div>
  <div class="panel-body">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), html: { role: "form" }) do |f| %>

        <!-- username -->
        <div class="form-group">
          <%= f.label :username %>
          <%= f.text_field :username, autofocus: true, class: "form-control" %>
        </div>

        <!-- money, defaults to 3000 through a hidden field -->
        <div class="form-group">
          <%= f.hidden_field :money, :value => 3000 %>
        </div>

        <div class="form-group">

        <%= f.label :avatar %> <br />
          <div class="col-md-12">
            <p class="col-md-3"><%= image_tag("avatar/avatar_1.gif") %> Trainer 1 <%= f.radio_button :avatar, "avatar_1" %> </p>
            <p class="col-md-3"><%= image_tag("avatar/avatar_2.gif") %> Trainer 2 <%= f.radio_button :avatar, "avatar_2" %> </p>
            <p class="col-md-3"><%= image_tag("avatar/avatar_3.gif") %> Trainer 3 <%= f.radio_button :avatar, "avatar_3" %> </p>
            <p class="col-md-3"><%= image_tag("avatar/avatar_4.gif") %> Trainer 4 <%= f.radio_button :avatar, "avatar_4" %> </p>
            <p class="col-md-3"><%= image_tag("avatar/avatar_5.gif") %> Trainer 5 <%= f.radio_button :avatar, "avatar_5" %> </p>
            <p class="col-md-3"><%= image_tag("avatar/avatar_6.gif") %> Trainer 6 <%= f.radio_button :avatar, "avatar_6" %> </p>
            <p class="col-md-3"><%= image_tag("avatar/avatar_7.gif") %> Trainer 7 <%= f.radio_button :avatar, "avatar_7" %> </p>
            <p class="col-md-3"><%= image_tag("avatar/avatar_8.gif") %> Trainer 8 <%= f.radio_button :avatar, "avatar_8" %> </p>
          </div>
        </div>

        <div class="form-group">
        <%= f.label :starter %> <br />
          <div class="col-md-12">
            <p class="col-md-4"><%= image_tag("front/normal/#{Pokemon.find(1).id}.png") %> Bulbasaur <%= f.radio_button :starter, 1 %> </p>
            <p class="col-md-4"><%= image_tag("front/normal/4.png") %> Charmander <%= f.radio_button :starter, 4 %> </p>
            <p class="col-md-4"><%= image_tag("front/normal/7.png") %> Squirtle <%= f.radio_button :starter, 7 %> </p>
          </div>
        </div>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "form-control" %>
      </div>
      <%= f.submit t('.sign_up', :default => "Sign up"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<%= render "devise/shared/links" %>
