<h1><%= content_for(:title, "PokeRails | Pokemart") %></h1>

<%- model_class_item = Item -%>
<h1>Pokemart</h1>
<hr>

<p>Your funds: <%= "#{current_user.money}" %></p>
<hr>

<%= form_tag(:action => "pokemart")  do %>

<h2>Medicine</h2>
<table>
  <thead>
    <tr>
      <th class="col-md-2"><b>Name</b></th>
      <th class="col-md-2"><b>Price</b></th>
      <th class="col-md-2"><b>Category</b></th>
      <th colspan="2"><b>Quantity</b></th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <% if item.item_type=="Medicine" %>
        <tr>
          <td class="col-md-2"><%= image_tag("item/#{item.id}.png")%><%= item.name %></td>
          <td class="col-md-2"><%= item.price %></td>
          <td class="col-md-2"><%= item.item_type %></td>
          <td class="col-md-2"><%= text_field_tag(item.name, "0") %></td>
          <td class="col-md-2"><%= submit_tag("Buy") %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>


<hr>
<h2>Pokeballs</h2>
<table>
  <thead>
    <tr>
      <th class="col-md-2"><b>Name</b></th>
      <th class="col-md-2"><b>Price</b></th>
      <th class="col-md-2"><b>Category</b></th>
      <th colspan="2"><b>Quantity</b></th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <% if item.item_type=="Pokeballs" %>
        <tr>
          <td class="col-md-2"><%= image_tag("item/#{item.id}.png")%><%= item.name %></td>
          <td class="col-md-2"><%= item.price %></td>
          <td class="col-md-2"><%= item.item_type %></td>
          <td class="col-md-2"><%= text_field_tag(item.name, "0") %></td>
          <td class="col-md-2"><%= submit_tag("Buy") %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>


<hr>
<h2>Evolution Stones</h2>
<table>
  <thead>
    <tr>
      <th class="col-md-2"><b>Name</b></th>
      <th class="col-md-2"><b>Price</b></th>
      <th class="col-md-2"><b>Category</b></th>
      <th colspan="2"><b>Quantity</b></th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <% if item.item_type=="Evolution_Stone" %>
        <tr>
          <td class="col-md-2"><%= image_tag("item/#{item.id}.png")%><%= item.name %></td>
          <td class="col-md-2"><%= item.price %></td>
          <td class="col-md-2">Evolution Stone</td>
          <td class="col-md-2"><%= text_field_tag(item.name, "0") %></td>
          <td class="col-md-2"><%= submit_tag("Buy") %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<% end %>