<h1><%= content_for(:title, "PokeRails | Pokemon") %></h1>

<%- model_class = Pokemon -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <%= image_tag(@pokemon.name.downcase + "_n.png", :alt => @pokemon.name) %>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @pokemon.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:type1) %>:</strong></dt>
  <dd><%= @pokemon.type1 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:type2) %>:</strong></dt>
  <dd><%= @pokemon.type2 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:move1) %>:</strong></dt>
  <dd><%= @pokemon.move1 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:move2) %>:</strong></dt>
  <dd><%= @pokemon.move2 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:move3) %>:</strong></dt>
  <dd><%= @pokemon.move3 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:move4) %>:</strong></dt>
  <dd><%= @pokemon.move4 %></dd>
  <dt><strong><%= model_class.human_attribute_name(:hp) %>:</strong></dt>
  <dd><%= @pokemon.hp %></dd>
  <dt><strong><%= model_class.human_attribute_name(:attack) %>:</strong></dt>
  <dd><%= @pokemon.attack %></dd>
  <dt><strong><%= model_class.human_attribute_name(:defense) %>:</strong></dt>
  <dd><%= @pokemon.defense %></dd>
  <dt><strong><%= model_class.human_attribute_name(:specialAttack) %>:</strong></dt>
  <dd><%= @pokemon.specialAttack %></dd>
  <dt><strong><%= model_class.human_attribute_name(:specialDefense) %>:</strong></dt>
  <dd><%= @pokemon.specialDefense %></dd>
  <dt><strong><%= model_class.human_attribute_name(:speed) %>:</strong></dt>
  <dd><%= @pokemon.speed %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
            pages_pokedex_path, :class => 'btn btn-default'  %>

