<h1><%= content_for(:title, "PokeRails | Pokemon") %></h1>

<%- model_class = Pokemon -%>
<h1><%=t '.title', :default => @pokemon.name %></h1>
<hr>


<table>
  <tr>
    <td><h3>Normal</h3></td>
    <td><%= image_tag("front/normal/#{@pokemon.id}.png", :alt => @pokemon.name) %></td>
    <td><h3>Shiny</h3></td>
    <td><%= image_tag("front/shiny/#{@pokemon.id}.png", :alt => @pokemon.name) %></td>
  </tr>
</table>


<!-- Types -->
<table>
  <thead>
    <tr>
      <th colspan="2"><strong>Types</strong></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="col-md-6"><%= @pokemon.type1 %></td>
      <td class="col-md-6"><%= @pokemon.type2 %></td>
    </tr>
  </tbody>
</table>

<!-- Base Moves -->
<table>
  <thead>
  <tr>
    <th colspan="4"><strong>Base Moves</strong></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="col-md-3"><%= @pokemon.move1 %></td>
    <td class="col-md-3"><%= @pokemon.move2 %></td>
    <td class="col-md-3"><%= @pokemon.move3 %></td>
    <td class="col-md-3"><%= @pokemon.move4 %></td>
  </tr>
  </tbody>
</table>


<!-- Stats -->
<table>
  <thead>
  <tr>
    <th colspan="6"><strong>Stats</strong></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td class="col-md-2"><strong><%= model_class.human_attribute_name(:hp) %>:</strong></td>
    <td class="col-md-2"><%= @pokemon.hp %></td>
    <td class="col-md-2"><strong><%= model_class.human_attribute_name(:speed) %>:</strong></td>
    <td class="col-md-2"><%= @pokemon.speed %></td>
  </tr>
  <tr>
    <td class="col-md-2"><strong><%= model_class.human_attribute_name(:attack) %>:</strong></td>
    <td class="col-md-2"><%= @pokemon.attack %></td>
    <td class="col-md-2"><strong><%= model_class.human_attribute_name(:specialAttack) %>:</strong></td>
    <td class="col-md-2"><%= @pokemon.specialAttack %></td>
  </tr>
  <tr>
    <td class="col-md-2"><strong><%= model_class.human_attribute_name(:defense) %>:</strong></td>
    <td class="col-md-2"><%= @pokemon.defense %></td>
    <td class="col-md-2"><strong><%= model_class.human_attribute_name(:specialDefense) %>:</strong></td>
    <td class="col-md-2"><%= @pokemon.specialDefense %></td>
  </tr>
  </tbody>
</table>

<%= link_to t('.back', :default => t("helpers.links.back")),
            pages_pokedex_path, :class => 'btn btn-default'  %>

