<h1><%= content_for(:title, "PokeRails | Team") %></h1>

<h1>My Pokemon</h1>
<hr>

<h2>Team</h2>
<hr>


<%= form_tag(:action => 'pokemon_team',) %>


<div class="col-md-12">
  <% for i in 1..6 %>
    <p class="col-md-2"><b>Slot <%= i %></b></p>
  <% end %>
</div>

<div class="col-md-12">
  <% for i in 0..5 %>
    <p class="col-md-2">
      <% if @team[i] != nil %>
        <% if @team[i].shiny == 0 %>
          <%= image_tag("front/normal/#{@team[i].pokemon_id}.png") %>
        <% else %>
          <%= image_tag("front/shiny/#{@team[i].pokemon_id}.png") %>
        <% end %>
          <br> <b><%= @pokemon[@team[i].pokemon_id - 1].name %> <br> Exp: <%= @team[i].exp %></b>
      <% end %>
    </p>
  <% end %>
</div>

<hr class="col-md-12">
<h2>Edit Team</h2>
<hr>

<p class="col-md-12"><b>Select the positions you would like for your pokemon.</b></p>
<div class="col-md-12">
  <% for i in 1..6 %>
      <p class="col-md-2"><b>Slot <%= i %></b></p>
  <% end %>
</div>

<div class="col-md-12">
  <% for i in 0..5 %>
    <p>
      <% select_tag "positions", options_from_collection_for_select(@mypokemon, "pokemon_id", "pokemon_position"), include_blank: true %>
    </p>
  <% end %>
</div>

<div class="col-md-12">
  <%= submit_tag("Save") %>
</div>

<hr class="col-md-12">
<h2>All Pokemon</h2>
<hr>

<% @mypokemon.each do |p| %>

    <p class="col-md-2">
      <% if p.shiny == 0 %>
          <%= image_tag("front/normal/#{p.pokemon_id}.png") %>
      <% else %>
          <%= image_tag("front/shiny/#{p.pokemon_id}.png") %>
      <% end %>
      <br> <b><%= @pokemon[p.pokemon_id - 1].name %> <br> Exp: <%= p.exp %></b>
    </p>

<% end %>