<h1><%= content_for(:title, "PokeRails | Pokedex") %></h1>

<%- model_class_pokemon = Pokemon -%>
<h1>Pokedex</h1>
<hr>

<table>
  <thead>
  <tr>
    <th><b>ID</b></th>
    <th colspan="3"><b>Name</b></th>
    <th><b>Normal</b></th>
    <th><b>Shiny</b></th>
  </tr>
  </thead>
  <tbody>
  <% @pokemons.each do |mon| %>
    <tr>
      <td><%= mon.id %></td>
      <td colspan="3"><%= link_to mon.name, pages_pokemon_path(:pokemon_id => mon.id) %></td>
      <!--
        this will check with the user and see if they have caught a pokemon
        that is of this id and whether they have caught a normal and or shiny version
        -->
      <td>
        <% temp = false %>
        <% @mypokemon.each do |p| %>
          <%= (temp = true) if (p.pokemon_id == mon.id) && (p.shiny == 0) %>
        <% end %>
        <% if temp %>
            <%= image_tag("normal_ball.png")%>
        <% else %>
            <%= image_tag("shaded_ball.png")%>
        <% end %>
      </td>
      <td>
        <% temp = false %>
        <% @mypokemon.each do |p| %>
            <%= (temp = true) if (p.pokemon_id == mon.id) && (p.shiny == 1) %>
        <% end %>
        <% if temp %>
            <%= image_tag("normal_ball.png")%>
        <% else %>
            <%= image_tag("shaded_ball.png")%>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>