<%- model_class = Pokemon -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table>
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:type1) %></th>
      <th><%= model_class.human_attribute_name(:type2) %></th>
      <th><%= model_class.human_attribute_name(:move1) %></th>
      <th><%= model_class.human_attribute_name(:move2) %></th>
      <th><%= model_class.human_attribute_name(:move3) %></th>
      <th><%= model_class.human_attribute_name(:move4) %></th>
      <th><%= model_class.human_attribute_name(:hp) %></th>
      <th><%= model_class.human_attribute_name(:attack) %></th>
      <th><%= model_class.human_attribute_name(:defense) %></th>
      <th><%= model_class.human_attribute_name(:specialAttack) %></th>
      <th><%= model_class.human_attribute_name(:specialDefense) %></th>
      <th><%= model_class.human_attribute_name(:speed) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @pokemons.each do |pokemon| %>
      <tr>
        <td><%= link_to pokemon.id, pokemon_path(pokemon) %></td>
        <td><%= pokemon.name %></td>
        <td><%= pokemon.type1 %></td>
        <td><%= pokemon.type2 %></td>
        <td><%= pokemon.move1 %></td>
        <td><%= pokemon.move2 %></td>
        <td><%= pokemon.move3 %></td>
        <td><%= pokemon.move4 %></td>
        <td><%= pokemon.hp %></td>
        <td><%= pokemon.attack %></td>
        <td><%= pokemon.defense %></td>
        <td><%= pokemon.specialAttack %></td>
        <td><%= pokemon.specialDefense %></td>
        <td><%= pokemon.speed %></td>
        <td><%=l pokemon.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_pokemon_path(pokemon), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      pokemon_path(pokemon),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_pokemon_path,
            :class => 'btn btn-primary' %>
